body {
    background-image: url("../images/bg.jpg");
    color: white;
}
.header {
    font-family: cursive;
    font-size: 18px;
    color: yellow;
}
#new-reaction {
    color: black;
}
p {
    text-align: center;
}
blink {
    color: yellow;
}
.glyphicon {
    color: black;
}